@media (max-width: 77.5rem) {
  /* enjoy, download, watch, create section */
  .inner {
    width: 62.5rem;
  }
  .desc h2 {
    font-size: 2.813rem;
  }
  .desc p {
    font-size: 1.25rem;
  }

  .enjoy .desc {
    padding-top: 2.5rem;
  }
  .enjoy .preview img {
    width: 31.25rem;
    height: 23.125rem;
  }
  .enjoy .preview video {
    width: 23.125rem;
  }

  .download .desc {
    padding-top: 2.813rem;
  }
  .download .preview > img {
    width: 29.375rem; 
    height: 21.875rem;
  }
  
  .watch .preview img {
    width: 30rem; 
    height: 25rem;
  }
  .watch .preview video {
    width: 18.75rem;
    height: 12.5rem;
  }

  .create .preview img {
    width: 28.125rem;
    height: 21.875rem;
  }
  .create .desc {
    padding-top: 1.25rem;
  }

  /* faq section */
  .faq-inner h1 {
    font-size: 2.813rem;
  }
}

@media (max-width: 64rem) {
  /* enjoy, download, watch, create section */
  .inner {
    width: 53.125rem;
  }

  .enjoy .preview img {
    width: 26.875rem;
    height: 18.75rem;
  }
  .enjoy .preview video {
    width: 19.688rem;
    height: 10.625rem;
  }

  .download .preview > img {
    width: 26.563rem; 
    height: 20.625rem;
  }

  .watch .preview img {
    width: 26.563rem;
    height: 21.875rem;
  }
  .watch .preview video {
    width: 16.875rem;
    height: 11.25rem;
  }

  .create .preview img {
    width: 26.563rem;
  }
}

@media (max-width: 56.25rem) {
  /* header */
  .logo img {
    width: 9.375rem;
  }

  /* heading */
  .heading h1 {
    font-size: 3.125rem;
  }

  /* faq section */
  .faq-inner h1 {
    font-size: 2.5rem;
  }
  input[name=faq-item] + label, input[name=faq-item]:checked + label + .faq-content {
    padding: 0.625rem;
    font-size: 1.438rem;
  }
  input[name=faq-item] + label span {
    font-size: 1.438rem;
  }
}

@media (max-width: 53.75rem) {
  /* enjoy, download, watch, create section */
  .inner {
    width: 46.875rem;
  }

  .enjoy .preview img {
    width: 23.438rem;
  }
  .enjoy .preview video {
    width: 16.875rem;
    height: 10.625rem;
  }

  .download .preview > img {
    width: 23.438rem; 
    height: 19.375rem;
  }
  .preview-downloading {
    width: 18.75rem;
    height: 6.25rem;
  }
  .preview-downloading img:nth-of-type(1) {
    width: 3.75rem;
    height: 4.375rem;
  }
  .preview-downloading .pre-down-text {
    top: 0.938rem;
    left: 5.625rem;
  }
  .preview-downloading img:nth-of-type(2) {
    width: 3.125rem;
    height: 3.125rem;
    top: 1.25rem;
    right: 0.625rem;
  }

  .watch .preview img {
    width: 23.438rem;
    height: 20rem;
  }
  .watch .preview video {
    width: 14.063rem;
    height: 9.375rem;
  }
  .watch .desc h2, .create .desc h2 {
    margin-top: 0;
  }

  .create .preview img {
    width: 23.438rem;
    height: 20rem;
  }

  /* faq section, footer */
  .faq-inner, .footer-inner {
    width: 50rem;
  }
}

@media (max-width: 50rem) {
  /* faq section, footer */
  .faq-inner, .footer-inner {
    width: 46.875rem;
  }
}

@media (max-width: 48rem) {
  body {
    font-size: 1rem;
  }
  .logo img {
    width: 8.75rem;
  }
  header {
    padding: 2.188rem 1.25rem;
  }

  /* common css */
  section {
    padding: 1.25rem;
  }

  /* welcome section */
  .welcome {
    height: 100vh;
  }

  /* heading */
  .heading {
    width: 100%;
  }
  .heading h1 {
    font-size: 2.125rem;
  }

  /* getstarted */
  .getstarted {
    width: 90%;
  }
  .getstarted input[type=email] {
    width: 100%;
    margin-bottom: 0.938rem;
  }
  .getstarted input[type=email] + span {
    top: 0.938rem;
  }

  /* enjoy, download, watch, create section */
  .enjoy, .download, .watch, .create {
    height: auto;
  }
  .inner {
    width: 100%;
    position: static;
    transform: translate(0);
  }
  .desc, .preview {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* change order */
  .download .inner, .create .inner {
    display: flex;
    flex-direction: column;
  }
  .download .inner .desc,
  .create .inner .desc { 
    order: 1;
  }
  .download .inner .preview,
  .create .inner .preview {
    order: 2;
  }
  .preview img {
    width: 100%;
    height: auto;
  }
  .desc h2 {
    font-size: 1.875rem;
  }
  .preview-downloading {
    top: 12.5rem;
  }
  .preview-downloading .pre-down-text {
    top: 1.563rem;
  }
  .pre-down-text p:last-child {
    line-height: 1.2em;
  }

  /* faq section */
  .faq {
    padding: 5rem 1.25rem;
  }
  .faq-inner {
    width: 100%;
  }
  .faq-inner h1 {
    font-size: 1.875rem;
    line-height: 1.32em;
  }
  input[name=faq-item] + label span {
    font-size: 1.625rem;
  }

  /* footer */
  footer {
    padding: 3.125rem 1.25rem;
    text-align: center;
  }
  .footer-inner {
    width: 100%;
  }
  .items {
    width: 48%;
    margin-bottom: 1.25rem;
  }

  /* login modal */
  .login {
    width: 100%;
  }
}

@media (max-width: 25rem) {
  /* enjoy section */
  .enjoy .preview img {
    width: 20.625rem;
  }
  .enjoy .preview video {
    width: 15.625rem;
  }

  /* download section */
  .download .preview > img {
    width: 20rem; 
    height: 16.875rem;
  }
  .preview-downloading {
    width: 15.625rem;
    height: 5rem;
    top: 11.25rem;
  }
  .preview-downloading img:nth-of-type(1) {
    width: 2.5rem;
    height: 3.125rem;
  }
  .preview-downloading .pre-down-text {
    top: 0.938rem;
    left: 4.375rem;
  }
  .pre-down-text p:first-child {
    font-size: 0.938rem;
  }
  .pre-down-text p:last-child {
    font-size: 0.813rem;
  }
  .preview-downloading img:nth-of-type(2) {
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  /* watch section */
  .watch .preview img {
    width: 20rem;
    height: 15.625rem;
  }
  .watch .preview video {
    width: 12.5rem;
    height: 6.25rem;
  }

  /* create section */
  .create .preview img {
    width: 20rem;
    height: 16.25rem;
  }

  /* faq section */
  input[name=faq-item] + label, input[name=faq-item]:checked + label + .faq-content {
    padding: 0.625rem;
    font-size: 1.25rem;
  }
  input[name=faq-item] + label span {
    font-size: 1.25rem;
  }
}