/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  font-family: 'Roboto', sans-serif; /* form 요소가 있을 경우 input, button 등은 적용이 안 되기 때문 */
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  line-height: 1.6em;
  font-size: 1.625rem;
}
body.active {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}

/* common css */
section {
  border-bottom: 0.625rem solid #333;
  position: relative;
}

/* header */
header {
  overflow: hidden;
  padding: 2.188rem 3.438rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.logo {
  float: left;
}
.logo img {
  width: 10.625rem;
}
.signin {
  float: right;
}
.signin button {
  background-color: red;
  border: none;
  color: #fff;
  padding: 0.438rem 0.938rem;
  border-radius: 0.313rem;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.125rem;
}

/* welcome section */
.welcome {
  height: 80vh;
  background: url(images/welcome-background.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.welcome:before { /* welcome 배경이미지 오버레이 */
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* heading */
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 55rem;
}
.heading h1 {
  font-size: 4rem;
  line-height: 1.2em;
  margin: 0;
}
.heading h5 {
  font-weight: normal;
  margin: 0;
  font-size: 1.25rem;
}
.heading p {
  font-size: 1.25rem;
}
.getstarted {
  position: relative;
  display: inline-block;
}
.getstarted input[type=email] {
  width: 28.125rem;
  margin-right: -0.375rem;
  font-size: 1.125rem;
  padding-left: 0.625rem;
}
.getstarted button {
  width: 13.75rem;
  background-color: red;
  color: #fff;
  font-size: 1.625rem;
  cursor: pointer;
}
.getstarted input[type=email],
.getstarted button {
  height: 3.75rem;
  outline: none;
  border: none;
  vertical-align: middle; /* 수직 정렬 */
}
.getstarted input[type=email] + span {
  color: #999;
  font-size: 1rem;
  position: absolute;
  left: 0.625rem;
  top: 0.625rem;
  transition: 0.35s;
  pointer-events: none; /* span을 클릭해도 이벤트 발생 안 하게 하려고 */
}
.getstarted input[type=email]:focus + span {
  font-weight: bold;
  transform: translateY(-1.125rem);
}

/* enjoy, download, watch, create section */
.enjoy, .download, .watch, .create {
  height: 31.25rem;
}
.inner {
  width: 71.875rem;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.desc, .preview {
  float: left;
  width: 50%;
}
.desc {
  padding-top: 3.438rem;
}
.desc h2 {
  font-size: 3.125rem;
  line-height: 1.2em;
  margin-bottom: 0;
}
.preview {
  text-align: center;
  position: relative;
}
.enjoy .preview img {
  width: 33.125rem;
  height: 25rem;
  position: relative; /* z-index 적용하기 위해 */
  z-index: 2;
}
.enjoy .preview video {
  width: 24.375rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.download .preview > img {
  width: 31.25rem; 
  height: 23.75rem;
}
.preview-downloading {
  width: 20rem;
  height: 7.5rem;
  border: 3px solid #333;
  border-radius: 0.625rem;
  background-color: #000;
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}
.preview-downloading img:nth-of-type(1) {
  width: 4.375rem;
  height: 5.625rem;
  float: left;
  position: absolute;
  top: 0.625rem;
  left: 0.938rem;
}
.preview-downloading .pre-down-text {
  width: 9.375rem;
  position: absolute;
  top: 1.563rem;
  left: 6.25rem;
}
.pre-down-text p {
  margin: 0;
  text-align: left;
}
.pre-down-text p:first-child {
  font-weight: bold;
  font-size: 1.125rem;
}
.pre-down-text p:last-child {
  font-weight: 400;
  font-size: 0.938rem;
  color: rgb(0, 102, 255);
  line-height: 0;
}
.preview-downloading img:nth-of-type(2) {
  width: 3.75rem;
  height: 3.75rem;
  float: right;
  position: absolute;
  top: 1.563rem;
  right: 0.938rem;
}
.watch .preview img {
  width: 34.688rem; 
  height: 25.938rem;
  position: relative; /* z-index 적용하기 위해 */
  z-index: 2;
}
.watch .preview video {
  width: 22.5rem;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.create .preview img {
  width: 31.563rem; 
  height: 23.75rem;
}

/* faq section */
.faq {
  padding: 5rem 0;
}
.faq-inner {
  width: 53.125rem;
  margin: auto;
}
.faq-inner h1 {
  text-align: center;
  font-size: 3.125rem;
}
input[name=faq-item] {
  display: none;
}
input[name=faq-item] + label {
  display: block;
  background-color: #303030;
  padding: 0.938rem;
  cursor: pointer;
  margin-bottom: 0.188rem;
}
.faq-content {
  background-color: #303030;
  padding: 0;
  margin-bottom: 0.625rem;
  /* display: none; */ /* 트렌지션 줄 수 없음 */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
input[name=faq-item] + label span {
  float: right;
  transition: 0.3s;
  width: 2.188rem;
  height: 2.188rem;
}
aside {
  text-align: center;
}
aside p {
  font-size: 1.5rem;
}

/* checked function */
input[name=faq-item]:checked + label + .faq-content {
  /* display: block; */
  max-height: 31.25rem;
  padding: 0.938rem;
}
input[name=faq-item]:checked + label span {
  transform: rotate(-45deg);
}

/* footer */
footer {
  padding: 3.125rem 0;
  font-size: 0.75rem;
  color: #777;
  line-height: 1.5em;
}
.footer-inner {
  width: 53.125rem;
  margin: auto;
}
.sitemap h6 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1.25rem;
  font-weight: normal;
}
.items {
  display: inline-block;
  width: 24%;
  vertical-align: top;
  line-height: 2em;
}
.items a {
  color: #777;
  display: block;
}
.items a:hover {
  text-decoration: underline;
}

/* modal login */
.modal-login {
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
.login {
  width: 28.125rem;
  height: 34.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.938rem;
  color: #777;
  font-weight: 300;
  padding: 3.125rem;
}
.login h1 {
  color: #fff;
  font-size: 1.875rem;
}
.login input[type=text], 
.login input[type=password] {
  background-color: #333;
  padding: 1.25rem 0.938rem;
  border-radius: 0.313rem;
  width: 100%;
  border: none;
  margin-bottom: 1.25rem;
  outline: none;
  font-size: 1.125rem;
  color: #fff;
}
.login input[type=button] {
  font-size: 1.25rem;
  background-color: red;
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.313rem;
  padding: 0.938rem;
  cursor: pointer;
}
.login p {
  line-height: 1.5em;
}
.login p a {
  color: royalblue;
}
.save-info {
  overflow: hidden;
  margin-top: 0.625rem;
}
.save-info label {
  float: left;
} 
.save-info a { 
  float: right;
}
.login a:hover {
  text-decoration: underline;
}
.btn-close {
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  top: 1.563rem;
}